@model PagedList.PagedList<ProjectFinally.Models.sanpham>
@using PagedList.Mvc
@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrap">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src=@Url.Content("Content/images/home/" + item.image + "") alt="" height="222" width="230">
                    <p>@item.ten</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@item.dongiasp</h2>
                        <p>@item.ten</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

}

<div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
        <div class="pageIndexs">
            <div class="text-center">
                <span data-id="Model.HasNextPage" style="color:red" id="pageIndex" class="PreviousPage"><<</span>
                @for (int i = 1; i <= Model.PageCount; i++) //pagecount là số lượng các trang
                {

                    if (i == Model.PageNumber) //pagenumber là pageindex
                    {
                        <span data-id="@i" style="color:red" id="pageIndex" class="pageIndex">@i</span>

                    }
                    else
                    {
                        <span data-id="@i" style="color:white" id="pageIndex" class="pageIndex">@i</span>
                    }
                }

                <span data-id="Model.HasPreviousPage" style="color:red" id="pageIndex" class="PreviousPage">>></span>
            </div>



        </div>

    </div>
    </div>
<div class="pageIndexs">


    <style>
        .pageIndexs {
            padding: 0px 0 0 0px;
        }

            .pageIndexs span {
                margin-left: 0px;
                background: orangered;
                padding: 6px;
                cursor: pointer;
            }
    </style>
</div>
<script>
    $(function () {
        $('span#pageIndex').click(function () {
            var pageIndex = $(this).text();
            var maloai = $('.maloai').data('id');
            LoadProduct(maloai, pageIndex)
        });
    });
</script>